@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$purple-color: #6C63FF;
$dark-color: #2F2E41;
$green-color: #00A400;
$green-color-darker: #008C00;

$light-gray: #F0F2F5;

*{
    box-sizing: border-box !important;
}

body{
    background: $light-gray;
    overflow-x: hidden;
}

.link{
    text-decoration: none !important;
}

nav{
    background: $purple-color !important;
    color: white !important;
    height: 70px;
    user-select: none !important;

    .container-fluid{
        max-width: 1450px !important;
    }

    .navbar-brand{
        font-family: "Pacifico", sans-serif !important;
        font-size: 2rem !important;
        user-select: none;
    }

    .nav-link{
        color: white !important;
        font-size: 1.1rem;
        user-select: none !important;
    
        &:hover{
            cursor: pointer;
        }
    }

    .dropdown-toggle img{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-right: 5px;
        user-select: none !important;
    }

    .dropdown-item{
        cursor: pointer !important;
        user-select: none !important;
    }
}

.modal{
    display: block;
    top: 100px !important;

    .form-text{
        color: #ccc !important;
    }
}

.form-control::placeholder{
    color: #ccc !important;
}

.layout-container{
    height: calc(100vh - 130px);

    .img-container{
        width: 50%;
    }
    
    .layout-text{
        width: 50%;
        margin-left: 40px;
        color: $dark-color !important;
    
        .dot{
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: $purple-color;
            margin-right: 10px;
        }
    }
}

footer{
    height: 60px;
    border-top: 1px solid $dark-color;
    margin: 0;
    padding: 0;

    p{
        margin: 0 !important;
    }
}

.dashboard{
    max-width: 1000px;
    min-height: calc(100vh - 70px);
    padding: 30px 10px;

    .sidenav{
        min-width: 250px;
        position: fixed !important;
        top: 100px !important;
        background: white;
        list-style: none !important;
        font-size: 1.1rem;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 5px;
        padding: 15px 0 !important;

        li{
            margin-bottom: 15px;
            text-align: center;
            padding: 7px 15px;

            &:last-child{
                margin-bottom: 0;
            }

            &.clickable{
                cursor: pointer;
                &:hover{
                    background: #f9f9f9;
                }
            }

            button{
                width: 100% !important;
                font-size: 1.1rem !important;

                &.btn-search-profile{
                    background: $green-color;
                    color: white;

                    &:hover{
                        background: $green-color-darker;
                    }
                }
            } 
        }

        .friends{
            overflow-y: scroll;
            max-height: 300px;
            list-style: none;
            padding: 0;

            &::-webkit-scrollbar{
                width: 8px;
            }
            &::-webkit-scrollbar-thumb{
                background: #777;
                border-radius: 5px;
            }

            .friend{
                cursor: pointer;
                
                & > span{
                    position: relative;
                    margin-right: 10px;
    
                    img{
                        max-width: 35px;
                        border-radius: 50%;
                    }
    
                    .dot{
                        position: absolute;
                        display: inline-block;
                        height: 9px;
                        width: 9px;
                        border-radius: 50%;
                        background: green;
                        right: 5px;
                        bottom: -10px;
                    }
                }
            }
        }

        h4{
            text-align: center;
            padding-bottom: 10px;
        }
    }

    .sidenav-left{
        left: 2% !important;

        li{
            display: flex;
            justify-content: center;
            align-items: center;

            i{
                margin-left: 5px;
            }

            span{
                margin-left: 10px;
                background: var(--bs-danger);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                font-size: .9rem;
            }
        }
    }

    .sidenav-right{       
        right: 2% !important;
    }

    .search-results{
        .card {
            margin-bottom: 30px;

            &:last-child{
                margin-bottom: 0;
            }

            div:first-child{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 30px;
                cursor: pointer;
    
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            div:last-child{
                span{
                    font-size: 1.3rem;
                    font-weight: bold;
                    font-style: italic;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }

        h2{
            
            font-weight: 400;
            font-size: 1.4rem;
        }
    }
}

.loading{
    .spinner-border {
        margin-right: 10px;
    }

    span{
        font-size: 22px;
    }
}

.create-post{
    position: fixed;
    width: 600px;
    height: fit-content;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    textarea{
        margin-bottom: 20px;
        resize: none;
    }
}

.posts{
    .card{
        margin-bottom: 30px;
        position: relative;

        .update-form{
            margin: 20px 0;

            textarea{
                margin-bottom: 20px;
                resize: none;
            }

            .buttons button:first-child{
                margin-right: 20px;
            }
        }
    }

    .options-button{
        position: absolute;
        z-index: 2;
        right:10px;
        top: 5px;
        color: #555;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .options{
        position: absolute;
        top: 5px;
        list-style: none;
        padding: 10px 0;
        right: -110px;
        width: fit-content;
        background: white;

        li{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 15px;
            margin-bottom: 10px;
            color: #333;
            width: 100%;

            &:hover{
                cursor: pointer;
                background: #f9f9f9;
            }

            &:last-child{
                margin-bottom: 0;
            }

            i{
                margin-left: 10px;
            }
        }
    }

    img{
        max-width: 35px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .posted-by{
        margin-bottom: 10px;
    }

    .post-user{
        cursor: pointer;
    }

    .card-text{
        margin-bottom: 10px !important;
    }

    .time-posted{
        color: #ccc;
        margin-left: 15px;
        font-size: .9rem;
    }

    .post-icons{
        &>span{
          margin-right: 25px;
          color: #999;
          user-select: none;
          cursor: pointer;

          &:first-child{
            user-select: none;
          }

          &:last-child{
            margin-left: 8px;
          }
        }

        span:last-child{
            margin-right: 0;
            margin-left: 5px;
        }
    }

    .show-comments{
        display: block;
        width: 70%;
        margin: 20px auto;
    }

    .show-answers{
        display: block;
        width: 30%;
        margin: 20px 0;
    }

    .answers{
        padding-top: 10px;
    }

    .comment, .answer{
        width: 90%;
        margin-left: 10%;
        margin-bottom: 10px;
        position: relative;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .answer .options-button{
        right: -5px;
    }
}

.search-profile-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0, 0.7);
    z-index: 9999;
    padding-top: 200px;

    .input-group{
        position: relative;

        input{
            display: inline-block;
            width: 500px;
            background: transparent;
            border: none;
            border-bottom: 1px solid white;
            color: white;
            outline: none;
            padding: 5px 10px;
            padding-right: 40px;
    
            &::placeholder{
                color: #ccc;
            }
        }

        button{
            position: absolute;
            top: 5px;
            right: 5px;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            background: transparent;
            display: inline-block;
            width: fit-content;
            height: fit-content;
            border: none;
            outline: none;
        }

        & > span{
            position: fixed;
            top: 60px;
            right: 60px;
            color: white;
            cursor: pointer;
            font-size: 2rem;
            z-index: 9999999;
        }

        .autocomplete{
            position: absolute;
            top: 34px;
            left: 1px;
            width: 100%;
            padding: 0;
            margin: 0;
            background: white;
            color: #333;
            list-style: none;
            max-height: 400px;
            overflow-y: auto;

            &::-webkit-scrollbar{
                width: 8px;
            }
            &::-webkit-scrollbar-thumb{
                background: #777;
                border-radius: 5px;
            }

            li{
                padding: 5px 10px;
                width: 100%;
                border-bottom: 1px solid #333;
    
                &:hover{
                    cursor: pointer;
                    background: var(--bs-primary);
                    color: white;
                }
    
                &:last-child{
                    border-bottom: none;
                }

                span{
                    color: #ccc;
                }
            }
        }
    }
}

.profile{
    min-height: calc(100vh - 70px);
    width: 70%;
    margin: 0 auto;

    .profile-header{
        border-bottom: 1px solid #333;
        padding: 30px 0;
        margin-bottom: 30px;

        .profile-header-top > div:first-child{
            margin-bottom: 20px;

            img{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                margin-right: 30px;
            }

            .profile-details{
                font-size: 1.3rem;

                span{
                    margin-bottom: 15px;

                    &:last-child{
                        margin-bottom: 0;
                        cursor: pointer;
                    }

                    strong{
                        font-style: italic;
                    }
                }
            }
        }

        

        .description{
            width: 500px;
            margin-bottom: 20px;

            p{
                margin-bottom: 20px;
            }

            form{
                width: 100%;
                textarea{
                    resize: none !important;
                    margin-bottom: 10px;
                }

                button.btn-primary{
                    margin-right: 10px;
                }
            }
        }
    }
}

.notifications{
    .modal-body{
        max-height: 400px;
        overflow-y: auto;
        padding: 0;

        &::-webkit-scrollbar{
            width: 8px;
        }
        &::-webkit-scrollbar-thumb{
            background: #777;
            border-radius: 5px;
        }
        
        .notification{
            display: flex;
            border-bottom: 1px solid #ccc;
            padding: 15px;
            background: #f0f7f7;

            &:last-child{
                border-top: none;
                border-bottom: none;
            }

            &.seen{
                background: white;
            }

            img{
                width: 70px;
                height: 70px;
                margin-right: 20px;
                border-radius: 50%;
            }

            .notification-message{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: calc(100% - 90px);
                position: relative;

                p{
                    margin-bottom: 0;
                    width: 90%;
                }

                button{
                    width: fit-content;
                    height: 40px;
                    margin-top: 10px;
                }

                .delete-notification{
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 5px;
                    right: 5px;
                    color: #333;
                    cursor: pointer;
                    font-size: 1.3rem;

                    &::after{
                        content: "\00d7";
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .no-notifications{
            padding: 15px;
            margin-bottom: 0;
            font-size: 1.1rem;
        }
    }
}

// Media Queries
@media (max-width: 1600px) {
    .dashboard{
        max-width: 800px;
    }
}

@media (max-width: 1400px) {
    .dashboard{
        max-width: 600px;
    }
}